In [ ]:
!pip install pycoingecko

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pycoingecko
  Downloading pycoingecko-3.1.0-py3-none-any.whl (8.8 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from pycoingecko) (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->pycoingecko) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->pycoingecko) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->pycoingecko) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->pycoingecko) (1.26.14)
Installing collected packages: pycoingecko
Successfully installed pycoingecko-3.1.0

In [ ]:
from pycoingecko import CoinGeckoAPI
import pandas as pd
from datetime import datetime, timedelta
from sklearn.linear_model import LinearRegression
import random

# Crie uma lista de 10 IDs aleatórios de criptomoedas
cg = CoinGeckoAPI()
coins = cg.get_coins_list()
coin_ids = random.sample([coin['id'] for coin in coins], 10)

# Defina o intervalo de tempo para os dados históricos (6 semanas atrás até agora)
end_date = datetime.now()
start_date = end_date - timedelta(weeks=6)

# Recupere dados históricos para cada criptomoeda
dfs = []
for coin_id in coin_ids:
    data = cg.get_coin_market_chart_range_by_id(coin_id, 'usd', start_date.strftime('%s'), end_date.strftime('%s'))
    prices = pd.DataFrame(data['prices'], columns=['timestamp', 'price'])
    prices['timestamp'] = pd.to_datetime(prices['timestamp'], unit='ms')
    prices.set_index('timestamp', inplace=True)
    prices = prices.resample('W').last()
    prices.columns = [coin_id]
    dfs.append(prices)

# Combine os dados em uma única tabela
table = pd.concat(dfs, axis=1)

# Use a regressão linear para estimar os valores das próximas duas semanas
model = LinearRegression()
X = pd.Series(range(len(table)))
X = X.values.reshape(-1, 1)
y = table.iloc[:, 0].values
model.fit(X, y)
X_new = pd.Series([len(table), len(table)+1])
X_new = X_new.values.reshape(-1, 1)
y_new = model.predict(X_new)

# Aplica estilo à tabela
table_style = table.style.format('{:,.2f}').set_table_styles([{    'selector': 'th',    'props': [('background-color', 'gray'), ('color', 'white')]
}, {
    'selector': 'td',
    'props': [('border', '1px solid black')]
}])

# Display 
table_style